<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <article ng-app="MyApp" ng-controller="form">
        <form novalidate>
        Name:<br>
        <input type="text" ng-model="user.Name"><br>
        Distance Traveled:<br>
        <input type="text" ng-model="user.Distance"><br>
        <br><br>
        <button ng-click="reset()">Calculate</button>
        </form>
        <p>user = {{ user }}</p>
        <p>monto total = {{ monto }}</p>
    </article>
</body>
</html>
<script src="./js/index.js"></script>